services:
  web:
    build: .
    container_name: votebox_web
    command: gunicorn voteproject.wsgi:application --bind 0.0.0.0:$PORT
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - .:/app
    restart: always